.sidebar {
  width: 400px;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  overflow-x: hidden;
  padding-top: 20px;

  .img-sidebar {
    text-align: center;
    margin-top: 0.5em;
    width: 200px;
  }
}
@media (max-width:728px){
  .sidebar{
    background-color: unset;
    width: unset;

    .img-sidebar {
     display: none;
    }
  }
}
