.buttonchangeStyle {
  color: white;
  background-color: #05bf95;
}

.mat-button {
  border-radius: 50px;
  border: 2px solid rgb(148, 146, 146);
  padding: 0 5px 0px 5px;
  height: 25px;
  line-height: 4px;
  border-width: thin;
  font-size: 10px;
  margin: 8px 8px 0px 0;
}
