.categories {
  width: 350px;
  margin: 0 auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 2;
  //max-height:40px;
  border: 2px solid white;
  border-radius: 10px;
  //padding: 0px 10px 10px 10px;
  padding: 10px 10px !important;
  font-size: 12px;
  background-color: white;
}

.title {
  color: black;
  font-family: OpenSans bold;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}

.shortname-button {
  color: black;
  font-family: 'OpenSans semibold';
  font-size: 13px;
}

.liste-categories {
  padding: 0px !important;
}

.liste-categories-show-mobile {
  margin-top: 10px;
}

.showCategorie,
.hideCategorie {
  border: none;
  background-color: transparent;
  font-family: 'OpenSans semi-bold';
  font-size: 10px;
  color: #9e9e9e;
  text-align: center;
}

.category-button {
  border-radius: 10px;
  border: 2px solid rgb(150, 55, 55);
  // margin-left: 20px;
}

.mat-button {
  background-color: white;
  border-radius: 50px;
  border: 1px solid #e1dddd;
  // padding: 0 5px 0px 5px;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: OpenSans light;
  border-width: thin;
  margin-left: 4px;
  height: 25px;
  color: #6d7278;
  letter-spacing: 0;
  line-height: 14px;
}

.mat-icon {
  width: 15px;
}

.mobileListeView {
  display: flex;
  overflow-x: auto;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  button {
    display: inline-block;
  }
}

@media (max-width: 728px) {
  .showCategorie,
  .hideCategorie {
    display: inline-block !important;
  }

  .shortname-button {
    color: black;
    font-family: 'OpenSans Bold';
    font-size: 12px;
  }

  .categories {
    max-width: 430px;
    width: 95%;
    visibility: visible;
    margin-top: 40px;

    .title {
      display: none;
    }

    .liste-categories {
      overflow: hidden;
      height: 30px;

      margin-top: 10px;

      ::ng-deep .mat-button {
        min-width: unset !important;
      }
    }
  }
}

@media (min-width: 728px) {
  .liste-categories {
    overflow: unset !important;

    flex-wrap: wrap;
    height: unset !important;
  }
}
