@import "~@angular/material/theming";
@import "./environments/color.scss";
@include mat-core();

@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete #c1000a(rouge) jaune #ffd800
  $primary_color: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles

  .primaryColor {
    color: mat-color($primary_color) !important;
  }

  .primaryColorBorder {
    border-color: mat-color($primary_color) !important;
  }

  .primaryColorFill {
    fill: mat-color($primary_color) !important;
  }

  .primaryColorBG {
    background-color: mat-color($primary_color) !important;
  }

  .accentColor {
    color: mat-color($accent) !important;
  }

  .accentColorBG {
    background-color: mat-color($accent) !important;
  }

  .accentColorFill {
    fill: mat-color($accent) !important;
  }

  .warnColorBG {
    background-color: mat-color($warn);
  }

  .mat-expansion-indicator:after {
    color: mat-color($primary_color) !important;
  }

  .white {
    color: #fff !important;
  }

  .whiteFill {
    fill: #fff !important;
  }

  .whiteBG {
    background-color: #fff !important;
  }

  .black {
    color: #3a3a3a !important;
  }

  .blackBG {
    background-color: #3a3a3a !important;
  }

  .gray {
    color: rgba(0, 0, 0, 0.12) !important;
  }

  .grayBG {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }

  .blackFill {
    fill: #3a3a3a !important;
  }

  .whiteBorder {
    border-color: #fff !important;
  }

  .font {
    font-family: openSans Regular;
  }

  .red {
    color: red;
  }

  .redBG {
    background-color: red;
  }

  .redBorder {
    border-color: red !important;
  }

  .primary_transparent_bg {
    background-color: $primary_color_transparent_bg !important;
  }
}

$primary_color: $primary_color_color;

$primary_color_transparent_bg: #f2f7fa;

$color_prim: (50: #000,
  100: $primary_color,
  200: $primary_color,
  300: $primary_color,
  400: $primary_color,
  500: $primary_color,
  600: $primary_color,
  700: $primary_color,
  800: $primary_color,
  900: $primary_color,
  A100: #000,
  A200: #000,
  A400: $primary_color,
  A700: $primary_color,
  contrast: (500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A700: black,
  ),
);

$color_accent: (50: #000,
  100: $accent_color,
  200: $accent_color,
  300: $accent_color,
  400: $accent_color,
  500: $accent_color,
  600: $accent_color,
  700: $accent_color,
  800: $accent_color,
  900: $accent_color,
  A100: #000,
  A200: #000,
  A400: $accent_color,
  A700: $accent_color,
  contrast: (500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A700: black,
  ),
);
$accent_color: $accent_color;

$theme-primary: mat-palette($color_prim, 500);
$theme-accent: mat-palette($color_accent, 600);
$theme-warn: mat-palette($mat-red);
$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
//
@include theme-color-grabber($theme);
@include angular-material-theme($theme);
